  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    min-width: 130px;
  }
 
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #e0e0e0;
    color: #1976d2;
    font-weight: 600;
    border: none;
    width: auto;
    /*min-width: 5%;*/
    position: relative;
	top: 6px;
	justify-content: left;
  }

  .card.card.highlight-card span {
    margin-left: 0px; padding-bottom: 2px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }
  a:hover {
    color: #125699;
  }

  footer {
    background-color: #f1f1f1;
    padding: 0px;
    display: flex;
    align-items: center;
    line-height: 20px;
	max-width: 70%; min-width:40%;
	border-radius: 18px;
	margin-top: 10%;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }
  }
 
  img.angular { cursor: pointer; }
  
  img.avatar {
	width: 30px; height: 30px;
	border-radius: 5px;
  }
  
  div.copyright {
	background-color: rgba(0, 0, 0, 0.2);
	margin-top:5%; margin-bottom:5%;
	min-height:70%;
	line-height:25px;
	text-align:center;
	border-radius: 5px;
	color: navy;
	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 5px 5px 5px #606060;
  }
  div.copyright a { text-decoration:underline; }
  div.copyright a:hover { font-weight:bolder;  }
  
  // Small devices (iphones >6, cell 5.1 or less)
  @media (max-width: 500px) { span.titulo {
    font-size: 7px; padding: 0px; line-height: 13px;
  } }

  // Extra large devices (large desktops, 1200px and up)
  @media (max-width: 1200px) { span.titulo {
    font-size: 14px; margin-left: 0px;
  } }
  
  .social_links {text-align: center;}
  .social_links svg { margin-top:6px; }
  .social_links img { margin-top:6px; }