<div class="card-content">
	<div class="card-img">
		<!--img src="https://placeimg.com/380/230/nature" alt=""-->
		<img class="img-fluid myborder" src="assets/{{thumbnail}}" alt="thumbnail of {{album_titulo}}">
		<span><h3><small>{{viaje_selected}})</small> {{album_titulo}}</h3></span>
	</div>
	<div class="card-desc">
		<h5>{{nombre_visitante}}, <a class="visite" href="{{album_url}}" target="_new">Visita mi álbum de Google Fotos </a></h5>
		<p>{{descripcion}} [{{fecha_viaje}}]</p>
	</div>
</div>