/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.my_title {background-color:  #e0e0e0;}
a.visite  {text-decoration: underline;}
.myborder {border: solid 1pt #007bff; border-radius: 7px;}
