<div class="container content">
	<div class="row">
		<div class="col-md-12 offset-md-0">
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3 class="mb-0">Lista de viajes / List of trips</h3>
				</div>
				<div class="card-body">
					<form formGroup="form">
					<div class="form-group">
					<label for="txtNombre">Tu nombre / Your name</label>
						<input type="text" class="form-control" id="txtNombre" placeholder="escribe tu nombre, por favor..." #txtNombre>
					</div>
					<div class="form-group">
						<label for="selViaje">selecione / choose:</label>
						<select id="selViaje" class="form-control" #selViaje>
							<option *ngFor="let viaje of listViajes" [value]="viaje.id">{{viaje.nombre}}</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary"
						(click)="salvar(txtNombre.value, selViaje.value)">Visitar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<hr class="mb-5">
	
	<div class="row row-flex">
	    <!--https://fireship.io/lessons/sharing-data-between-angular-components-four-methods/-->
		<app-album-viajes 
		  [nombre_visitante]="username"
		  *ngFor=" let v of arrViajes.reverse()" [viaje_selected]="v"
		></app-album-viajes>
	</div>

</div>	
